filelock                                     
Flask                                           
flask-talisman                                          
python-decouple                                               
python-dotenv                                           
frozendict                                        
future                                         
gevent                                          
gitdb2                                          
GitPython                                           
greenlet                                            
gunicorn                                            
html5lib                                            
hyperlink                                           
identify                                            
idna                                           
importlib-metadata                                          
incremental                                         
itsdangerous                                            
Jinja2                                          
jmespath                                            
jsonfield                                           
MarkupSafe                                          
mysql-connector-python                                          
packaging                                          
passlib                                        
platformdirs                                            
pre-commit                                          
protobuf                                            
psutil                                          
psycopg2                                            
psycopg2-binary                                         
pyasn1                                          
pyasn1-modules                                          
pycparser                                          
pytz                                           
psycopg                                        