{% extends "base.html" %} {% block title %}Início{% endblock %} {% block
content %}
<div>
    <div class="row">
        <div class="col"><h4>Agenda do dia {{datatable}}</h4></div>
        <form  class="col" action="/admin" method="post">
            <div class="row" style="margin-right: 8rem;">
                <div class="col"> <input type="date" name="search" value="{{filtro}}"> </div>
                <div class="col"><button type="submit" class="btn btn-success">Buscar </button></div>
            </div>
        </form>
    </div>
    <hr />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Horário</th>  
                <th scope="col">Nome</th>
                <th scope="col">Celular</th>
                <th scope="col">WPP</th>
                <th scope="col" style="text-align: center">PG</th>  
                <th scope="col" style="width: 20%">Serviço</th> 
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
         
            {% for disponibilidade in disponibilidades %}
            <tr>
                <td>{{datatable}}</td>
                <td>{{disponibilidade.disponibilidade}}</td>
                <td>{{disponibilidade.name}}</td>
                <td>{{disponibilidade.celular}}</td>
                <td><a href="https://api.whatsapp.com/send?phone=55{{disponibilidade.celular}}&text={{disponibilidade.name}},%20faltam%20aproximadamente%2015%20minutos%20para%20sua%20vez."> <img
                    src="../../static/img/whatsapp.png"
                    alt=""
                    style="width: 2rem;"
                /></a></td>
                <td style="text-align: center" >
                    {% if disponibilidade.pagamento == None %}
                    <form action="/pagamento/{{disponibilidade.id}}/{{datatable}}" method="post">
                        <button type="submit" class="btn btn-danger">Não</button>
                    </form>
                    {% else %}
                    <form action="/pagamento/{{disponibilidade.id}}/{{datatable}}" method="post">
                        <button type="submit" class="btn btn-success">Sim</button>
                    </form>
                    {% endif %}
                </td>
                <td>{{disponibilidade.servico}}</td>
                <td>
                    <form action="/delete/{{disponibilidade.id}}/{{datatable}}" method="post">
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>        
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
