{% extends "base.html" %} {% block title %}Início{% endblock %} {% block
    content %}
    <div>
        <div class="col">
            <div class="row"><h4>Agenda de Horários</h4></div>
            <form  class="row" action="/agenda" method="post">
                <div class="row" >
                    <div class="col"> <input type="date" name="search" value="{{filtro}}"> </div>
                    <div class="col"><button type="submit" class="btn btn-success">Buscar </button></div>
                </div>
            </form>
        </div>
        <hr />
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Horário</th> 
                    <th scope="col">Data</th> 
                    <th scope="col">Dia da Semana</th> 
                    <th scope="col">Disponibilidade</th> 
                </tr>
                </thead>
                <tbody>
                {% for disponibilidade in disponibilidades %}
                <tr>
                    <td>{{disponibilidade.id}} - {{disponibilidade.horarios}}</td>
                    <td>{{datatable}}</td>
                    <td>{{dia}}</td>                        
                    {% if disponibilidade.status == 'Indisponível' %}
                        <th style="color: red;">
                        {{disponibilidade.status}}
                        </th>
                    {% else %}
                    <td>
                        <form action="/agendamento/{{filtro}}/{{disponibilidade.horarios}}" method="post">
                            <button type="submit" class="btn btn-success">Agendar</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>        
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}