{% extends "base.html" %} {% block title %}Início{% endblock %} {% block
    content %}
    <body id="page-top" class="masthead">
        <!-- Masthead-->
        <header style="padding-top: 5rem;">
            <div class="container" >
                <div class="masthead-subheading">Sejam Bem Vindos!</div>
                <div class="masthead-heading text-uppercase">Ricardo Barbearia</div>
                <a  class="btn btn-success btn-lg active text-uppercase" href="/barbearia/agenda" style="color:#fff ;">Agendar</a>
            </div>
        </header>
    </body>
  {% endblock %}
